.container-global {
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
  display: flex;
}

.container-side-menu {
  width: 100%;
  max-width: 22rem;
}

.container-content {
  width: 100%;
  max-width: 170rem;
}

.container-header {
  width: 100%;
  max-width: 170rem;
  padding: 0 3.6rem 0 2.9rem;
}

.container-news {
  width: 100%;
  max-width: 170rem;
  padding: 0 4.3rem 0 4.5rem;
}

main {
  overflow-x: hidden;
}

.section-news {
  overflow-x: hidden;
}

.second-div {
  width: 100%;
  overflow-x: hidden;
}

.container-content {
  width: 100%;
  overflow-x: hidden;
}