.box {
  border: 1px solid #ececec;
  border-radius: 3px;
}

.box-name {
  border: 1px solid #ececec;
  background: var(--light-orange);
  height: 4.5rem;

  display: flex;
  align-items: center;
}

.box-name p {
  color: #4e4e4e;
  font-size: 2rem;
  font-weight: 500;
  padding-left: 1.5rem;
}


/*resume*/

.resume .resume-description {
  padding-left: 1.5rem;
}