@media (max-width: 1300px) {

  .header-top {
    height: 9rem;
  }

  .video-container {
    flex-direction: column;
  }
}


@media (max-width: 1100px) {
  html {
    font-size: 56%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}