/*==============*/
/***SIDE MENU***/
/*=============*/

.side-menu {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.side-menu .logo {
  background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  height: 6.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.side-menu .logo h1 {
  color: var(--white);
  font-size: 3rem;
  font-weight: 700;
}

ul .menu-item {
  color: var(--brown);
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  border-bottom: 2px solid #e7e7e7;

  display: inline-block;
  width: 100%;
  padding: 0.7rem 0 0.7rem 2.4rem;
}

ul .menu-item.checked {
  background: var(--light-orange);
  border-left: 4px solid var(--orange);
}

/*==============*/
/***HEADER TOP***/
/*=============*/
.header-top {
  background: var(--light-orange);
  height: 6.8rem;
}

.header-top .container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top .title span, .header-top .title h2, .header-top .title p {
  color: var(--brown);
  font-weight: 400;
  margin-bottom: 0.2rem;
}

.header-top .title span, .header-top .title p {
  font-size: 1.4rem;
}

.header-top .title h2 {
  font-size: 2.2rem;
}

/*language*/
.header-top .language {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  border: 1px solid #ccc;
  border-radius: 0.3rem;
  padding: 0.8rem;
}

.header-top .language p {
  color: #333;
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
}

/*user-information*/
.user-info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.user-info .user-text p {
  color: #333;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

.user-info .user-text p:first-child {
  font-size: 1.4rem;
  text-align: right;
}

.user-info .user-text p:last-child {
  font-size: 1.2rem;
}

.user-info .user-photo {
  position: relative;
}

.user-info .user-photo::after {
  content: "2";
  text-align: center;
  background: var(--red);
  color: var(--white);

  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;

  position: absolute;
  top: 0;
  left: 22px;
}

.user-photo img {
  border-radius: 50%;
}

/*================*/
/***SECTION NEWS***/
/*===============*/
.section-news {
  padding: 2.1rem 0;
}

.header-news {
  display: flex;
  justify-content: space-between;
}

.header-news h2 {
  color: var(--orange);
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  margin-bottom: 1.9rem;
  max-width: 75.5rem;
}

.header-news .icons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.header-news .icons-download {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-news .icons-download p {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 500;
}

.header-news .icons-download, .header-news .icons-star, .header-news .icons-doi {
  background: var(--orange);
  padding: 0.6rem 1.2rem;
  border-radius: 0.4rem;
}

.header-news .share-this-work {
  color: var(--orange);
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/**video container**/
.video-container {
  display: flex;
  gap: 5rem;
  margin-bottom: 3rem;
}

/*details*/
.details span {
  font-weight: bold;
}

.details-title {
  margin-top: 2rem;
}

.details-title, .details-author, .details-university {
  font-family: "Quicksand", sans-serif;
  padding: 0 1.5rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;

}

.details-university {
  color: #5c5c5c;
}

/*resume*/
.resume {
  margin-bottom: 3rem;
}

.resume .resume-description {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  padding: 1.5rem;
}

.resume .resume-description span {
  color: var(--orange);
  font-weight: bold;
}

/*discussion*/
.discussion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.6rem;
}

.discussion-title {
  color: var(--orange);
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.7rem;
}

.discussion-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4.3rem;
}

.discussion-description {
  font-family: "Quicksand", sans-serif;
  color: #595959;
  font-weight: 400;
  font-size: 1.4rem;
  text-align: center;
  max-width: 62rem;
}

/*create topic*/
.divider {
  border-bottom: 2px solid #ececec;
  margin: 5rem 0;

  position: relative;
}

.divider button {
  background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--white);
  padding: 0.7rem 1.4rem;
  border-radius: 0.3rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*subject*/
.subject {
  font-family: "Quicksand", sans-serif;
  padding: 0 1.5rem;

  margin-bottom: 1.7rem;
}

.subject-content {
  border: 1px solid #e7e7e7;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 0.6rem;
  padding: 1.5rem;
}

.subject-title {
  color: var(--orange);
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.subject-author {
  color: #5c5c5c;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.subject-description {
  color: #4d4d4d;
  font-size: 1.4rem;
  margin-bottom: 1.1rem;
  max-width: 98rem;
}

.subject-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.subject-icons p {
  font-size: 1.4rem;
}

/***********/
/**FOOTER**/
/**********/
footer {
  margin-top: 5rem;
}